<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/83263e29-4d7e-4b3f-8a0e-c8903a4b01e1/resourcegroups/MyAppAPI20230112144301ResourceGroup/providers/Microsoft.Web/sites/MySlotBookingAPI</ResourceId>
    <ResourceGroup>MyAppAPI20230112144301ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/83263e29-4d7e-4b3f-8a0e-c8903a4b01e1/resourceGroups/MyAppAPI20230112144301ResourceGroup/providers/Microsoft.ApiManagement/service/MySlotBookingAPI/apis/MySlotBookingAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://myslotbookingapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>6c521bd3-ee72-4e21-ad07-a658d43069ba</ProjectGuid>
    <MSDeployServiceURL>myslotbookingapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MySlotBookingAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$MySlotBookingAPI</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>